body {
    font-family: sans-serif;
    max-width: 700px;
    margin: 40px auto;
    font-size: 12pt;
}

#login-screen {
    margin: 0px auto;
    text-align: center;
    height: 150px;
    position: relative;
    top: calc(50vh - 65px);
}

#login-screen>form {
    display: block;
}

#login-screen input[type='submit'] {
    margin-top: 20px;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.centered>div,
.centered>form {
    text-align: center;
}

.centered input[type='text'],
.centered input[type='number'] {
    width: 250px;
}

.margin-top {
    margin-top: 10px;
}

.code {
    font-family: monospace;
    font-size: 11pt;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    padding: 1px 3px;
}

h3 {
    margin-bottom: 0px;
}

form {
    display: inline;
}